$color1: #107d7e;
$color2: #e25068;
$color3: #ee5996;
$color4: #ec6a32;
$color5: #e2bca1;

$font-title: "Permanent Marker", cursive;
$font-content: "IBM Plex Mono", monospace;

// !GLOBAL STYLE

// * Navbar
#navbar-logo {
  padding: 5px;
}
#navbar-btn1:hover {
  background-color: $color1;
  color: white;
}
#navbar-btn2:hover {
  background-color: $color2;
  color: white;
}
#navbar-btn3:hover {
  background-color: $color3;
  color: white;
}
#navbar-btn4:hover {
  background-color: $color4;
  color: white;
}
#navbar-btn5:hover {
  background-color: $color1;
  color: white;
}
#navbar-btn6:hover {
  background-color: $color2;
  color: white;
}
#navbar-account {
  color: $color2;
}

.tablet-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  height: 70vh;
  // margin: 0 2px;
}
.tablet-btn:active,
.tablet-btn:focus {
  border: none;
  outline: 0;
  color: $color2;
}

@media screen and (min-width: 160px) {
  // * Job Index

  .JobIndex {
    hr {
      border-top: 1px;
      border-color: black;
    }
    width: 100%;
    .button-container-small-tablet,
    .button-container-large-tablet {
      display: none;
    }
    .job-boards {
      display: flex;
      flex-direction: row;
      margin: 5vh 5vw;
      width: 90vw;
      height: 80vh;
      .job-board {
        width: 95vw;
        margin: 0 0.5vw;
        border-radius: 10px;
        .job-board-header {
          display: flex;
          justify-content: space-between;
          margin: 5vw;
          padding: 1vh;
          h1 {
            font-family: $font-title;
            color: white;
            text-shadow: 0 0 3px #888888;
            font-size: 30px;
            margin: 0;
          }
          .arrow-left {
            font-size: 28px;
            color: white;
            background-color: transparent;
            border: none;
          }
          .arrow-right {
            font-size: 28px;
            color: white;
            background-color: transparent;
            border: none;
          }
        }
        .job-board-btn {
          margin: 5vw;
          button.job-index-add-btn {
            font-family: $font-content;
            background-color: #fff;
          }
        }
        .job-board-content {
          height: 57vh;
          overflow: auto;
        }
      }
      .wishlist {
        background-color: $color1;
      }
      .applied {
        background-color: $color2;
      }
      .interview {
        background-color: $color3;
      }
      .offer {
        background-color: $color4;
      }
      .rejected {
        background-color: $color5;
      }
      .is-hidden {
        display: none;
      }
    }
    .JobIndexCard {
      display: flex;
      justify-content: space-between;
      background-color: white;
      margin: 5vw;
      padding: 5vw;
      border-radius: 10px;
      box-shadow: 0 0 5px #999999;
      h3 {
        font-weight: normal;
        color: black;
        font-family: $font-content;
        font-size: 12px;
        margin: 0;
        padding: 1px;
      }
      .delete-job-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        color: black;
      }
      .delete-job-btn:active,
      .delete-job-btn:focus {
        border: none;
        outline: 0;
      }
    }
  }

  // * Contact Index

  #header-font-contacts {
    font-family: $font-title;
    color: $color3;
    margin: 1vh auto;
    text-align: center;
  }

  .search-box {
    margin: 3vh 7vw;
  }

  .contact-add-btn {
    margin: 3vh 7vw;
    button.add-btn {
      font-family: $font-content;
    }
  }

  .ContactIndex {
    margin: 3vh 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .contact-card {
      font-family: $font-content;
      font-size: 11px;
      width: 85vw;
      // height: 20vh;
      margin: 3vw;
      padding: 1.5vw;
      box-shadow: 1px 1px 5px #999999;
      border-radius: 10px;
      p {
        margin: 0;
      }
      .contact-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color3;
        padding: 3vw;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        .delete-contact-btn {
          background-color: transparent;
          border: none;
          padding: 0;
          margin: 0;
          color: white;
        }
        .delete-contact-btn:active,
        .delete-contact-btn:focus {
          border: none;
          outline: 0;
        }
      }
      .contact-card-content {
        word-wrap: break-word;
        padding: 3vw;
      }
    }
  }

  // * Resources Index

  #header-font-resources {
    font-family: $font-title;
    color: $color4;
    margin: 1vh auto;
    text-align: center;
  }

  .resource-add-btn {
    margin: 3vh 7vw;
    button.add-btn {
      font-family: $font-content;
    }
  }

  .ResourceIndex {
    margin: 3vh 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .resource-card {
      font-family: $font-content;
      font-size: 11px;
      width: 85vw;
      // height: 14vh;
      margin: 3vw;
      padding: 1.5vw;
      box-shadow: 1px 1px 5px #999999;
      border-radius: 10px;
      p {
        margin: 0;
      }
      .resource-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color4;
        padding: 3vw;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        .delete-resource-btn {
          background-color: transparent;
          border: none;
          padding: 0;
          margin: 0;
          color: white;
        }
        .delete-resource-btn:active,
        .delete-resource-btn:focus {
          border: none;
          outline: 0;
        }
      }
      .resource-card-content {
        word-wrap: break-word;
        padding: 3vw;
        a {
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .JobIndex {
    .button-container-small-tablet {
      display: block;
    }
    .button-container-small-tablet .left {
      float: left;
    }
    .button-container-small-tablet .right {
      float: right;
    }
    .job-boards {
      .job-board {
        .job-board-header {
          margin: 1vw;
          justify-content: center;
          h1 {
            font-size: 25px;
          }
          .arrow-left {
            display: none;
          }
          .arrow-right {
            display: none;
          }
        }
        .job-board-btn {
          margin: 1.5vh 3vw;
        }
      }
    }
    .JobIndexCard {
      margin: 3vw;
      padding: 3vw;
    }
  }

  .ContactIndex {
    .contact-card {
      width: 40vw;
      margin: 2vw;
      .contact-card-header {
        padding: 1.5vw;
        border-radius: 10px;
        color: white;
      }
      .contact-card-content {
        padding: 1.5vw;
      }
    }
  }

  .ResourceIndex {
    .resource-card {
      width: 40vw;
      margin: 2vw;
      .resource-card-header {
        padding: 1.5vw;
        border-radius: 10px;
        color: white;
      }
      .resource-card-content {
        padding: 1.5vw;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .tablet-btn {
    font-size: 25px;
  }
}

@media screen and (min-width: 769px) {
  .JobIndex {
    .button-container-small-tablet {
      display: none;
    }
    .button-container-large-tablet {
      display: initial;
    }
    .tablet-btn {
      font-size: 30px;
      margin: 0 0.5vw;
    }
    .button-container-large-tablet .left {
      float: left;
    }
    .button-container-large-tablet .right {
      float: right;
    }
    .job-boards {
      .job-board {
        .job-board-header {
          h1 {
            font-size: 25px;
          }
          .arrow-left {
            display: none;
          }
          .arrow-right {
            display: none;
          }
        }
        .job-board-btn {
          margin: 1vh 2vw;
        }
      }
    }
    .JobIndexCard {
      margin: 2vw;
      padding: 2vw;
    }
  }

  .ContactIndex {
    .contact-card {
      width: 25vw;
      margin: 2vw;
      padding: 1vw;
      .contact-card-header {
        padding: 0.8vw;
        border-radius: 10px;
        color: white;
      }
      .contact-card-content {
        padding: 1vw;
      }
    }
  }

  .ResourceIndex {
    .resource-card {
      width: 25vw;
      margin: 2vw;
      padding: 1vw;
      .resource-card-header {
        padding: 0.8vw;
        border-radius: 10px;
        color: white;
      }
      .resource-card-content {
        padding: 1vw;
      }
    }
  }
}

@media screen and (min-width: 1120px) {
  .JobIndex {
    .button-container-small-tablet,
    .button-container-large-tablet {
      display: none;
    }
    .job-boards {
      display: flex;
      flex-direction: row;
      margin: 5vh auto;
      width: 95vw;
      height: 80vh;
      .job-board {
        width: 18vw;
        margin: 0 0.5vw;
        height: 80vh;
        border-radius: 10px;
        .job-board-header {
          h1 {
            font-size: 25px;
          }
          .arrow-left {
            display: none;
          }
          .arrow-right {
            display: none;
          }
        }
        .job-board-btn {
          margin: 0.5vh 1vw;
        }
        .job-board-content {
          height: 60vh;
        }
      }
    }
    .JobIndexCard {
      margin: 1vw;
      padding: 1vw;
      h3 {
        font-size: 12px;
      }
    }
  }

  .ContactIndex {
    .contact-card {
      width: 18vw;
      margin: 1vw;
      padding: 0.5vw;
      .contact-card-content {
        padding: 0.7vw;
      }
    }
  }
  .ResourceIndex {
    .resource-card {
      width: 18vw;
      margin: 1vw;
      padding: 0.5vw;
    }
  }
}
