$color1: #107d7e;
$color2: #e25068;
$color3: #ee5996;
$color4: #ec6a32;
$color5: #e2bca1;

$font-title: "Permanent Marker", cursive;
$font-content: "IBM Plex Mono", monospace;

@media screen and (min-width: 260px) {
  .JobIndex {
    width: 100%;
    .button-container {
      display: none;
    }
    .job-boards {
      display: flex;
      flex-direction: row;
      margin: 5vh 5vw;
      width: 90vw;
      height: 80vh;
      .job-board {
        width: 95vw;
        margin: 0 0.5vw;
        border-radius: 10px;
        .job-board-header {
          display: flex;
          justify-content: space-between;
          margin: 5vw;
          padding: 1vh;
          h1 {
            font-family: $font-title;
            color: white;
            text-shadow: 0 0 3px #888888;
            font-size: 30px;
            margin: 0;
          }
          .arrow-left {
            font-size: 28px;
            color: white;
            background-color: transparent;
            border: none;
          }
          .arrow-right {
            font-size: 28px;
            color: white;
            background-color: transparent;
            border: none;
          }
        }
        .job-add-btn {
          display: flex;
          justify-content: center;
          margin: 4vw 5vw;
          padding: 5px;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0 0 5px #999999;
          .add-btn {
            font-family: $font-content;
            font-size: 20px;
            color: black;
          }
        }
        .job-board-content {
          height: 57vh;
          overflow: auto;
        }
      }
      .wishlist {
        background-color: $color1;
      }
      .applied {
        background-color: $color2;
      }
      .interview {
        background-color: $color3;
      }
      .offer {
        background-color: $color4;
      }
      .rejected {
        background-color: $color5;
      }
      .is-hidden {
        display: none;
      }
    }
    .JobIndexCard {
      background-color: white;
      margin: 5vw;
      padding: 5vw;
      border-radius: 10px;
      box-shadow: 0 0 5px #999999;
      h3 {
        color: black;
        font-family: $font-content;
        font-size: 12px;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .JobIndex {
    .button-container {
      display: block;
    }
    .job-boards {
      .job-board {
        .job-board-header {
          margin: 1vw;
          justify-content: center;
          h1 {
            font-size: 25px;
          }
          .arrow-left {
            display: none;
          }
          .arrow-right {
            display: none;
          }
        }
        .job-add-btn {
          margin: 1vh 3vw;
        }
      }
    }
    .JobIndexCard {
      margin: 3vw;
      padding: 3vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .JobIndex {
    .job-boards {
      .job-board {
        .job-board-header {
          h1 {
            font-size: 25px;
          }
          .arrow-left {
            display: none;
          }
          .arrow-right {
            display: none;
          }
        }
        .job-add-btn {
          margin: 1vh 2vw;
        }
      }
    }
    .JobIndexCard {
      margin: 2vw;
      padding: 2vw;
    }
  }
}

@media screen and (min-width: 1200px) {
  .JobIndex {
    .button-container {
      display: none;
    }
    .job-boards {
      display: flex;
      flex-direction: row;
      margin: 5vh auto;
      width: 95vw;
      height: 80vh;
      .job-board {
        width: 18vw;
        margin: 0 0.5vw;
        height: 80vh;
        border-radius: 10px;
        .job-board-header {
          h1 {
            font-size: 25px;
          }
          .arrow-left {
            display: none;
          }
          .arrow-right {
            display: none;
          }
        }
        .job-add-btn {
          margin: 0.5vh 1vw;
        }
        .job-board-content {
          height: 60vh;
        }
      }
    }
    .JobIndexCard {
      margin: 1vw;
      padding: 1vw;
      h3 {
        font-size: 12px;
      }
    }
  }
}

#navbar-logo {
  padding: 5px;
}
#navbar-btn1:hover {
  background-color: $color1;
  color: white;
}
#navbar-btn2:hover {
  background-color: $color2;
  color: white;
}
#navbar-btn3:hover {
  background-color: $color3;
  color: white;
}
#navbar-btn4:hover {
  background-color: $color4;
  color: white;
}
#navbar-btn5:hover {
  background-color: $color1;
  color: white;
}
#navbar-btn6:hover {
  background-color: $color2;
  color: white;
}
#navbar-account {
  color: $color2;
}