$color1: #107d7e;
$color2: #e25068;
$color3: #ee5996;
$color4: #ec6a32;
$color5: #e2bca1;

$font-title: "Permanent Marker", cursive;
$font-content: "IBM Plex Mono", monospace;

// ? GLOBAL
body {
  min-height: 100vh;
  height: 100%;
}

p {
  font-family: $font-content;
}

section.section {
  margin: 0 auto;
}

section > footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color3;
  color: white;
  height: 5vh;
}

div.ui.segments:first-child {
  margin-top: 14px;
}

// ? -------- JOB SHOW PAGE -------- ? //
div.segments.job-show {
  margin: 0 auto;
  max-width: 800px;
  h1.header {
    font-family: $font-title;
    font-size: 2.5rem;
    color: $color1;
  }
  // * Tabs
  div.ui.pointing.secondary.menu {
    a.item {
      font-family: $font-content;
      color: $color1;
      opacity: 0.95;
    }
    a.active.item {
      border-color: $color1;
    }
    a.active.item:hover {
      color: $color1;
    }
  }
  // * Job details tab
  div.small.header {
    margin: 0;
    font-family: $font-content;
  }
  div.segment > a {
    word-wrap: break-word;
  }
  button.teal-button {
    font-family: $font-content;
    color: $color1;
    background-color: #fff;
    border: 2px solid $color1;
  }
  // * Tasks and contacts details tab
  div.item {
    font-family: $font-content;
    div.content > h2.header {
      font-family: $font-content;
    }
  }
}

// ? ---- JOB NEW AND EDIT PAGES ---- ? //
div.segments.job-form {
  margin: 0 auto;
  max-width: 800px;
  color: $color1;
  h1.header {
    font-family: $font-title;
    font-size: 2.5rem;
    color: $color1;
  }
  div.grid {
    margin-top: 1rem;
    div.small.header {
      font-family: $font-content;
    }
    input[type="text"],
    div.dropdown,
    textarea {
      font-family: $font-content;
      word-wrap: break-word;
    }
  }
  button.teal-button {
    font-family: $font-content;
    color: $color1;
    background-color: #fff;
    border: 2px solid $color1;
  }
}

body > div.ui.page.modals.dimmer.transition.visible.active > div > div {
  padding: 0.5rem 0.5rem 1.5rem;
  button {
    background-color: transparent;
    color: #888888;
  }
}

@media screen and (min-width: 160px) {
  // ? ---------- HOME PAGE ---------- ? //
  div.home {
    div.hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      background: linear-gradient(
        90deg,
        rgba(16, 125, 126, 1) 11%,
        rgba(226, 80, 104, 1) 30%,
        rgba(238, 89, 150, 1) 51%,
        rgba(236, 106, 50, 1) 71%,
        rgba(226, 188, 161, 1) 91%
      );
      h1.header {
        font-family: $font-title;
        font-size: 6rem;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 3px #888888;
      }
      h2.header {
        font-family: $font-content;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 3px #888888;
      }
    }
    p {
      max-width: 960px;
      margin: 2rem auto;
      padding: 1rem 2rem;
    }
    div.image-desktop {
      display: none;
    }
    div.image-mobile {
      margin: 0 auto;
      width: 95%;
      background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));
      img {
        z-index: -1;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  section.section {
    div.image-desktop {
      display: block;
      width: 90%;
      margin: 0 auto;
      img {
        margin: 0 auto;
      }
    }
    div.image-mobile {
      display: none;
    }
  }
}
