$font-title: "Permanent Marker", cursive;
$font-content: "IBM Plex Mono", monospace;

#header-font {
  font-family: $font-title;
}  
#form-button {
  font-family: $font-content;
}
.overdue {
  color: red;
}
.due {
  color: green;
}
.uncompleted-tasks {

}
.completed-tasks{
  color: grey;
  text-decoration: line-through;
}