$color1: #107d7e;
$color2: #e25068;
$color3: #ee5996;
$color4: #ec6a32;
$color5: #e2bca1;

$font-title: "Permanent Marker", cursive;
$font-content: "IBM Plex Mono", monospace;

//? Universal styling 
#header-font {
  font-family: $font-title;
}  
#form-button {
  font-family: $font-content;
}

// ? TaskLabel Page 
.overdue {
  background-color: #f94144;
  opacity: 90%;
  color: #ffffff;
  padding: .5833em .833em;
  border-radius: .28571429rem;
  font-weight: 700;
  font-size: .85714286rem;
  text-align: center;
}
.due {
  background-color: #16db65;
  opacity: 80%;
  color: #ffffff;
  padding: .5833em .833em;
  border-radius: .28571429rem;
  font-weight: 700;
  font-size: .85714286rem;
  text-align: center;
}

.due-today{
  background-color: #9b5de5;
  opacity: 90%;
  color: #ffffff;
  padding: .5833em .833em;
  border-radius: .28571429rem;
  font-weight: 700;
  font-size: .85714286rem;
}



// ? Task Index Page
.TaskIndex {
  .uncompleted-tasks {
    margin-top:  5% ;
  }
  .completed-tasks{
    margin-top:  5% ;
    color: grey;
    text-decoration: line-through;
}
.task-index-header{
  margin-bottom: 5%;
}
.edit-task-computer-tablet{
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 10%;
}
}

// ? Task Show Page 
.TaskShow {

  //?  TASK SHOW MOBILE VIEW 
  .taskshow-mobile{
      padding: 3vw;
      border-radius: 10px;
    .task-header {
      display: flex;
      margin-bottom: .833em;
      .task-title {
        margin-left: 2%;
      }
      .task-category {
        margin-left: auto;
      }
    }
    .task-content {
      display: flex;
      justify-content: space-between;
      .task-job {
        text-align: left;
      }
    }
  }

  //? TASK SHOW COMPUTER TABLET VIEW 
  .is-show {
    margin-top: 1rem ;
  }
  .is-edit {
    margin-top: 1rem ;
    // outline: grey 1px solid;
  }
  .btn-not-displayed {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width:100%;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    .task-label {
      width: 18%;
      display: flex;
      justify-content: flex-start;
    }
    .task-checkbox {
      margin-right: 5%;
    }
    .task-title {
      width: 25%;
      display: flex;
      justify-content: flex-start;
    }
    .tak-job {
      width: 25%;
      display: flex;
      justify-content: flex-start;
    }
    .task-date{
      margin-left: auto;
    }
  }
}


// ? Task Edit Page 
.TaskEdit {
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .row2{
    p {
      font-size: 1rem;
    }
  }
  .row3{
    font-size: 1rem;
  }
  .row4 {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    .date {
      max-width: 40%;
    }
    .date-picker {
      max-width: 40%;
      padding-left: 20%;
    }
  }
  .row5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .update-btn {
    width: 80%;
    }
  }
}

