$color1: #107d7e;
$color2: #e25068;
$color3: #ee5996;
$color4: #ec6a32;
$color5: #e2bca1;

$font-title: "Permanent Marker", cursive;
$font-content: "IBM Plex Mono", monospace;

//? Universal styling 

#form-button {
  font-family: $font-content;
}

// ? TaskLabel Page 
.overdue {
  background-color: #f94144;
  opacity: 90%;
  color: #ffffff;
  padding: .4833em .833em;
  border-radius: .28571429rem;
  font-weight: 700;
  font-size: .85714286rem;
  text-align: center;
}
.due {
  background-color: #16db65;
  opacity: 80%;
  color: #ffffff;
  padding: .4833em .833em;
  border-radius: .28571429rem;
  font-weight: 700;
  font-size: .85714286rem;
  text-align: center;
}

.due-today{
  background-color: #9b5de5;
  opacity: 90%;
  color: #ffffff;
  padding: .4833em .833em;
  border-radius: .28571429rem;
  font-weight: 700;
  font-size: .85714286rem;
  text-align: center;
}

.task-add-btn {
  button.add-btn {
    font-family: $font-content;
  }
}

// ? Task Index Page
div.segments.TaskIndex {
  margin: 0 auto;
  max-width: 800px;
  div.ui.segment{
    div.search{
      padding-top: 2vh;
    }
    div.column{
      h1#header-font-tasks {
        font-family: $font-title;
        color: $color2;
        text-align: center;
      }  
      button.ui.red.basic.fade.animated.button.fluid {
        color: $color2;
        div.hidden.content{
          font-family: $font-content;

        }
      }
      h5.ui.left.aligned.header{
        font-family: $font-content;
        color: $color2;
      }
      .uncompleted-tasks {
        margin-top:  5% ;
          ui.grey.header{
            color: $color2;
          }
      }
      div.completed-tasks{
        margin-top:  5% ;
        div.ui.fluid.card{
          color: lightgray;
        }
        .task-title{
          text-decoration: line-through;
        }
        div.label, div.task-date{
          opacity: 50%;
        }
    }
    // ? Task Edit form computer
    .task-form {
      display: block;
      margin-top: 3vh;
      div.ui.segments{
        width: 700px;
        margin: 0 auto;
        // border-radius: 10px;
        div.ui.segment.taskedit-computer{
          font-family: $font-content;
          color: $color2;
          border-radius: 20px;
          
          h1.ui.center.aligned.header{
            font-family: $font-title;
            color: $color2;
          }
          div.ui.small.header{
            font-family: $font-content;
            color: $color2;
            font-size: 1.07142857em;
          }
          input{
          font-family: $font-content;
          color: $color2;
          font-size: 1rem;
          }
          div.ui.search.selection.dropdown{
          color: $color2;
          font-size: 1rem;
          height: 9.5px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          
          }
          div.ui.header{
            margin-bottom: 0.3rem;
          }
          div.tablet.only.computer.only.row.row{
            display: flex;
            padding-bottom: 0.5rem;
            div.tablet.only.computer.only.row.row1{
              display: flex;
              div.eleven.wide.column{
                display: flex;
                flex-direction: column;
                align-content: space-between;
              }
            }
            div.tablet.only.computer.only.row.row4{
              button.ui.large.basic.fluid.button{
                color: $color2;
              } 
            }
          }
      }
    }

    //? Task Add for computer view
    div.TaskAddComputer{
      div.ui.segments{
        // font-family: $font-content;
        max-width: 700px;
        margin: 0 auto;
        border-radius: 10px;
        div.ui.segment{
          font-family: $font-content;
          // color: $color2;
          h1.ui.center.aligned.header{
            color: $color2;
            font-family: $font-content;
          }
          div.ui.small.header{
            font-family: $font-content;
            color: $color2;
            font-size: 1.07142857em;
          }
          input{
            font-family: $font-content;
            color: $color2;
            font-size: 1rem;
            }
            div.ui.search.selection.dropdown{
              font-size: 1rem;
              color: $color2;
              height: 9.5px;
              display: flex;
              align-items: center;

            }
            div.tablet.only.computer.only.row.row2{
              display: flex;
              align-items: flex-end;
              div.three.wide.column.edit-btn{
                button#form-button{
                  font-size: 1rem;
                  font-family: $font-content;
                }
              }
            }
        }
      }
    }
  }
    .task-form-hidden {
      display: none;
    }

    // ? Task Show Cards
    div.ui.fluid.card{
      padding: 2vw;
      max-width: 700px;
      border-radius: 10px;
      font-family: $font-content;
      color: $color2;
      margin: 0 auto;
    .task-checkbox {
      margin-right: 5%;
      }
    .task-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: .233em;
      .task-title {
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
        width:100%;
      }
      div.label {
        min-width: 110px;
        text-align: center;
      }
    }
    .task-content {
      display: flex;
      align-items: center;
      .task-job {
        text-align: left;
        width: 75%;
        display: flex;
        justify-content: flex-start;
      }
      .task-date{
        min-width: 110px;
        
      }
    }
  }
  }
  }
  .btn-not-displayed {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    width: 9%;
    color: lightgray;
  }
}
div.task-checkbox{
  z-index: 10;
}

// ? Task Add for mobile view
div.ui.segments.TaskFormMobile{
  font-family: $font-content;
  color: $color2;
  margin: 10px;
  overflow-y: none;
  div.mobile.only.row{
    div.column.top-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button.btn-not-displayed {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        margin-bottom: 35px;
        color: lightgray;
      }
    }
    div.column.top-row-mobile{
      display: flex;
      flex-direction: row;
      h1#header-font-tasks{
        margin-left: 25%;
      }
      button.btn-not-displayed {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        margin-bottom: 35px;
        color: lightgray;
      }
    }
    h1#header-font-tasks{
      font-family: $font-title;
      color: $color2;
    }
  }
  div.ui.small.header{
    font-family: $font-content;
    color: $color2;
  }
  div.ui.search.selection.dropdown{
    min-height: 50px;
    align-items: center;
  }
  input{
    font-size: 1em;
    font-family: $font-content;
    color: $color2;
    height: 50px;
  }
}


